## 환경설정

1. http://braincrew2.iptime.org:8001 에 접속하여 회원가입해 주세요. (비밀번호는 단순하게 기입하시는 것을 권장 드려요. 예. 1234)
2. `username` 에 이메일 형식의 아이디를 기입해 주세요.
3. `password` 에 비밀번호를 기입해 주세요.

In [ ]:
project = "ADVHOUSE"  # 수정하지 마세요
username = ""  # 이메일아이디 (예시. abc@hello.com)
password = ""  # 비밀번호

아래의 코드를 순서대로 실행해 주세요.

In [ ]:
import os
import requests

if not os.path.exists("competition.py"):
    url = "https://link.teddynote.com/COMPT"
    file_name = "competition.py"
    response = requests.get(url)
    with open(file_name, "wb") as file:
        file.write(response.content)

아래 코드를 실행하여 데이터를 다운로드 받습니다.

In [ ]:
import competition

# 파일 다운로드
# competition.download_competition_files(project)
competition.download_competition_files(
    "https://link.teddynote.com/ADVHOUSE", use_competition_url=False
)

100%|██████████| 164k/164k [00:00<00:00, 68.1MiB/s]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os

# Data 경로 설정
DATA_DIR = "data"

# 경고 무시
warnings.filterwarnings("ignore")

SEED = 123

/var/folders/_0/7lvqf88d2hxdjf1k1f_0gbs00000gn/T/ipykernel_95578/3702344100.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## 데이터 로드

In [ ]:
# train 데이터셋 로드 (train.csv)
train = pd.read_csv(os.path.join(DATA_DIR, "train.csv"))

# test 데이터셋 로드 (test.csv)
test = pd.read_csv(os.path.join(DATA_DIR, "test.csv"))

In [ ]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [ ]:
all_data = pd.concat([train, test])
all_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [ ]:
numeric_columns = all_data.select_dtypes(exclude="object")
numeric_columns

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706.0,...,0,61,0,0,0,0,0,2,2008,208500.0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978.0,...,298,0,0,0,0,0,0,5,2007,181500.0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486.0,...,0,42,0,0,0,0,0,9,2008,223500.0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216.0,...,0,35,272,0,0,0,0,2,2006,140000.0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655.0,...,192,84,0,0,0,0,0,12,2008,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,21.0,1936,4,7,1970,1970,0.0,0.0,...,0,0,0,0,0,0,0,6,2006,NaN
2915,2916,160,21.0,1894,4,5,1970,1970,0.0,252.0,...,0,24,0,0,0,0,0,4,2006,NaN
2916,2917,20,160.0,20000,5,7,1960,1996,0.0,1224.0,...,474,0,0,0,0,0,0,9,2006,NaN
2917,2918,85,62.0,10441,5,5,1992,1992,0.0,337.0,...,80,32,0,0,0,0,700,7,2006,NaN
2918,2919,60,74.0,9627,7,5,1993,1994,94.0,758.0,...,190,48,0,0,0,0,0,11,2006,NaN

In [ ]:
numeric_columns = numeric_columns.fillna(0)
numeric_columns

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706.0,...,0,61,0,0,0,0,0,2,2008,208500.0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978.0,...,298,0,0,0,0,0,0,5,2007,181500.0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486.0,...,0,42,0,0,0,0,0,9,2008,223500.0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216.0,...,0,35,272,0,0,0,0,2,2006,140000.0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655.0,...,192,84,0,0,0,0,0,12,2008,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,21.0,1936,4,7,1970,1970,0.0,0.0,...,0,0,0,0,0,0,0,6,2006,0.0
2915,2916,160,21.0,1894,4,5,1970,1970,0.0,252.0,...,0,24,0,0,0,0,0,4,2006,0.0
2916,2917,20,160.0,20000,5,7,1960,1996,0.0,1224.0,...,474,0,0,0,0,0,0,9,2006,0.0
2917,2918,85,62.0,10441,5,5,1992,1992,0.0,337.0,...,80,32,0,0,0,0,700,7,2006,0.0
2918,2919,60,74.0,9627,7,5,1993,1994,94.0,758.0,...,190,48,0,0,0,0,0,11,2006,0.0

In [ ]:
numeric_columns = numeric_columns.drop(["Id"], axis=1)

In [ ]:
train_data = numeric_columns[: len(train)]
test_data = numeric_columns[len(train):]

In [ ]:
X = train_data.drop("SalePrice", axis=1)
Y = train_data["SalePrice"]

In [ ]:
# Log Transformation
# Y = np.log1p(Y)

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(
    X, Y, test_size=0.2, random_state=SEED
)

In [ ]:
x_test = test_data.drop("SalePrice", axis=1)

### CustomDataset 생성

In [ ]:
import torch
from torch.utils.data import Dataset
from sklearn.preprocessing import StandardScaler


class CustomDataset(Dataset):
    def __init__(self, x, y=None, normalize=True):
        super(CustomDataset, self).__init__()
        self.x = x
        self.y = y

        # 데이터 표준화
        if normalize:
            scaler = StandardScaler()
            self.x = pd.DataFrame(scaler.fit_transform(self.x))

        # 텐서 변환
        self.x = torch.tensor(self.x.values).float()

        if y is not None:
            self.y = torch.tensor(self.y.values).float()

    def __len__(self):
        return len(self.x)

    def __getitem__(self, idx):
        x = self.x[idx]
        if self.y is not None:
            y = self.y[idx]
            return x, y
        else:
            return x

### Dataset 생성

In [ ]:
train_dataset = CustomDataset(x_train, y_train, normalize=True)
valid_dataset = CustomDataset(x_valid, y_valid, normalize=True)
test_dataset = CustomDataset(x_test, normalize=True)

### Data Loader 생성

In [ ]:
from torch.utils.data import DataLoader

train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)
valid_loader = DataLoader(valid_dataset, batch_size=32, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=1, shuffle=False)

### GPU 설정

In [ ]:
if torch.backends.mps.is_built():
    # mac os mps 지원 체크
    device = torch.device("mps" if torch.backends.mps.is_built() else "cpu")
else:
    # cuda 사용 가능한지 체크
    device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
print(device)

mps

### 모델 정의

In [ ]:
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F


class Net(nn.Module):
    def __init__(self, num_features):
        super(Net, self).__init__()
        # self.fc1 = nn.Linear(num_features, 32)
        # self.fc2 = nn.Linear(32, 8)
        self.fc = nn.Sequential(
            nn.Linear(num_features, 1024),
            nn.ReLU(),
            nn.Linear(1024, 256),
            nn.ReLU(),
            nn.Linear(256, 64),
            nn.ReLU(),
            nn.Linear(64, 32),
            nn.ReLU(),
            nn.Linear(32, 16),
            nn.ReLU(),
            nn.Linear(16, 1),
        )
        # 마지막 출력층의 Neuron은 1개로 설정
        # self.output = nn.Linear(8, 1)

    def forward(self, x):
        # x = F.relu(self.fc1(x))
        # x = F.relu(self.fc2(x))
        # x = self.output(x)
        x = self.fc(x)
        return x

In [ ]:
# 컬럼수 정의
NUM_FEATURES = len(x_train.columns)
print(NUM_FEATURES)

36

### 모델 생성

In [ ]:
# 모델 생성
model = Net(NUM_FEATURES)
# 모델을 device 에 올립니다. (cuda:0 혹은 cpu)
model.to(device)
model

Net(
  (fc): Sequential(
    (0): Linear(in_features=36, out_features=1024, bias=True)
    (1): ReLU()
    (2): Linear(in_features=1024, out_features=256, bias=True)
    (3): ReLU()
    (4): Linear(in_features=256, out_features=64, bias=True)
    (5): ReLU()
    (6): Linear(in_features=64, out_features=32, bias=True)
    (7): ReLU()
    (8): Linear(in_features=32, out_features=16, bias=True)
    (9): ReLU()
    (10): Linear(in_features=16, out_features=1, bias=True)
  )
)

### 손실함수와 옵티마이저 정의

In [ ]:
# Mean Squared Error(MSE) 오차 정의
loss_fn = nn.MSELoss()

In [ ]:
def RMSE(y_hat, y):
    return torch.sqrt(torch.mean((y_hat - y) ** 2))


loss_fn = RMSE

In [ ]:
# 옵티마이저 설정: model.paramters()와 learning_rate 설정
optimizer = optim.Adam(model.parameters(), lr=0.001)

### 학습(Training)

In [ ]:
def train(model, train_loader, optimizer, loss_fn, device):
    model.train()
    final_loss = 0
    for x, y in train_loader:
        x, y = x.to(device), y.to(device)
        # gradient 초기화
        optimizer.zero_grad()
        # forward pass
        y_hat = model(x)
        # loss 계산
        loss = loss_fn(y_hat, y.unsqueeze(1))
        # backward pass
        loss.backward()
        # weight update
        optimizer.step()
        final_loss += loss.item()
    final_loss /= len(train_loader)
    return final_loss


def evaluate(model, test_loader, loss_fn, device):
    # 모델을 평가 모드로 설정
    model.eval()
    final_loss = 0
    with torch.no_grad():

        for x, y in test_loader:
            # 데이터를 device에 올립니다.
            x, y = x.to(device), y.to(device)
            # forward pass
            y_hat = model(x)
            # loss 계산
            loss = loss_fn(y_hat, y.unsqueeze(1))
            # loss 누적
            final_loss += loss.item()
    final_loss /= len(test_loader)
    return final_loss

In [ ]:
# 최대 반복 횟수 정의
num_epoch = 2000

# loss 기록하기 위한 list 정의
losses = []
val_losses = []

MIN_LOSS = 9999999999.0

STATE_DICT_PATH = "house-model.pth"

for epoch in range(num_epoch):
    loss = train(model, train_loader, optimizer, loss_fn, device)
    val_loss = evaluate(model, valid_loader, loss_fn, device)
    losses.append(loss)
    val_losses.append(val_loss)
    if val_loss < MIN_LOSS:
        print(
            f"{epoch:05d} [INFO] Model saved... {MIN_LOSS:.5f} ===> {val_loss:.5f}")
        MIN_LOSS = val_loss
        torch.save(model.state_dict(), STATE_DICT_PATH)
# state dict는 모든 w의 가중치를 기록한다
# torch.save를 통해서 최저점의 가중치를 load 가능하다
    if epoch % 20 == 0:
        print(
            "{0:05d} loss = {1:.5f}, val_loss = {2:.5f}".format(
                epoch, loss, val_loss)
        )

00000 [INFO] Model saved... 9999999999.00000 ===> 32201.28398
00000 loss = 538.62740, val_loss = 32201.28398
00001 [INFO] Model saved... 32201.28398 ===> 30527.98691
00006 [INFO] Model saved... 30527.98691 ===> 29674.20588
00020 loss = 371.53525, val_loss = 32468.31602
00040 loss = 406.31783, val_loss = 29907.00039
00047 [INFO] Model saved... 29674.20588 ===> 29600.94033
00060 loss = 405.29666, val_loss = 32637.56152
00063 [INFO] Model saved... 29600.94033 ===> 29485.13281
00080 loss = 534.30693, val_loss = 35599.14453
00100 loss = 387.07345, val_loss = 30330.02227
00120 loss = 434.33837, val_loss = 30081.69834
00140 loss = 443.08268, val_loss = 30253.26123
00160 loss = 387.05887, val_loss = 32114.99746
00173 [INFO] Model saved... 29485.13281 ===> 28766.59087
00180 loss = 406.28392, val_loss = 31736.41641
00200 loss = 490.12078, val_loss = 30631.50742
00220 loss = 374.72629, val_loss = 31539.95098
00240 loss = 334.46417, val_loss = 33728.28965
00260 loss = 440.01932, val_loss = 35730.35566

KeyboardInterrupt:

In [ ]:
# 모델 불러오기
model.load_state_dict(torch.load(STATE_DICT_PATH))

### 예측 코드

In [ ]:
# 결과입력
your_answer = []

# evaluation mode 로 변경
model.eval()

with torch.no_grad():
    for x in test_loader:
        x = x.to(device)
        y_hat = model(x).cpu().detach().numpy().item()
        your_answer.append(y_hat)

## 결과 제출

- 느리다고 중지 후 다시 평가 코드를 실행하는 경우 제출 과정에서 패널티가 발생할 수 있습니다. (제출 횟수 이슈 발생 가능)
- 제출결과는 [대회페이지](http://braincrew2.iptime.org:8001/competitions/ADVHOUSE/)의 `리더보드` 와 `제출` 탭에서 확인할 수 있습니다.

아래 Cell을 실행하여 예측 결과 업데이트

In [ ]:
import competition

# 예측 결과 업데이트
submission = pd.read_csv(os.path.join(DATA_DIR, "submission.csv"))
submission["SalePrice"] = your_answer

display(submission)
competition.submit(project, username, password, submission)

        Id      SalePrice
0     1461   96089.085938
1     1462  126843.656250
2     1463  186131.140625
3     1464  198118.218750
4     1465  173103.343750
...    ...            ...
1454  2915   88350.312500
1455  2916   88390.171875
1456  2917  207925.562500
1457  2918  105577.367188
1458  2919  249045.859375

[1459 rows x 2 columns]

아이디:  sample@test.com
파일명:  submissions/20240223-142917-submission.csv
============================================================
[제출에 성공하였습니다]
제출 결과: 31748.74514767108