## Project 1 team project work: colab template

▶ Team name: 여기에 팀 이름을 입력해주세요.

▶ Team member: 여기에 팀 멤버들을 입력해주세요.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# 경고 메시지 출력 표기 생략
warnings.filterwarnings('ignore')

## 데이터 불러오기

▶ CSV파일 데이터 불러오기

In [2]:
# 데이터 불러오기
mydata = pd.read_csv("https://raw.githubusercontent.com/agtechresearch/LectureAlgorithm/main/csv/married_full.csv")
mydata.head()

,gender,age,age_partner,importance_same_religion,pref_of_partner_attractive,pref_of_partner_sincere,pref_of_partner_intelligence,pref_of_partner_funny,pref_of_partner_ambitious,pref_of_partner_shared_interests,...,my_eval_sincere,my_eval_intelligence,my_eval_funny,my_eval_ambition,my_eval_shared_interests,interests_correlate,expected_happy_with_couple_match,how_much_i_liked,guess_prob_liked,married
0,female,21.0,27.0,4.0,35.0,20.0,20.0,20.0,0.0,5.0,...,9.0,7.0,7.0,6.0,5.0,0.14,3.0,7.0,6.0,0
1,female,21.0,22.0,4.0,60.0,0.0,0.0,40.0,0.0,0.0,...,8.0,7.0,8.0,5.0,6.0,0.54,3.0,7.0,5.0,0
2,female,21.0,22.0,4.0,19.0,18.0,19.0,18.0,14.0,12.0,...,8.0,9.0,8.0,5.0,7.0,0.16,3.0,7.0,5.0,1
3,female,21.0,23.0,4.0,30.0,5.0,15.0,40.0,5.0,5.0,...,6.0,8.0,7.0,6.0,8.0,0.61,3.0,7.0,6.0,1
4,female,21.0,24.0,4.0,30.0,10.0,20.0,10.0,10.0,20.0,...,6.0,7.0,7.0,6.0,6.0,0.21,3.0,6.0,6.0,1

In [3]:
# 변수가 33개가 있으므로, 모든 변수를 출력하려면 다음과 같이 설정해야 함
pd.options.display.max_columns = 35
mydata.head()

,gender,age,age_partner,importance_same_religion,pref_of_partner_attractive,pref_of_partner_sincere,pref_of_partner_intelligence,pref_of_partner_funny,pref_of_partner_ambitious,pref_of_partner_shared_interests,eval_by_partner_attractive,eval_by_partner_sincere,eval_by_partner_intelligence,eval_by_partner_funny,eval_by_partner_ambitous,eval_by_partner_shared_interests,my_pref_attractive,my_pref_sincere,my_pref_intellicence,my_pref_funny,my_pref_ambtition,my_pref_shared_interests,my_eval_attractive,my_eval_sincere,my_eval_intelligence,my_eval_funny,my_eval_ambition,my_eval_shared_interests,interests_correlate,expected_happy_with_couple_match,how_much_i_liked,guess_prob_liked,married
0,female,21.0,27.0,4.0,35.0,20.0,20.0,20.0,0.0,5.0,6.0,8.0,8.0,8.0,8.0,6.0,15.0,20.0,20.0,15.0,15.0,15.0,6.0,9.0,7.0,7.0,6.0,5.0,0.14,3.0,7.0,6.0,0
1,female,21.0,22.0,4.0,60.0,0.0,0.0,40.0,0.0,0.0,7.0,8.0,10.0,7.0,7.0,5.0,15.0,20.0,20.0,15.0,15.0,15.0,7.0,8.0,7.0,8.0,5.0,6.0,0.54,3.0,7.0,5.0,0
2,female,21.0,22.0,4.0,19.0,18.0,19.0,18.0,14.0,12.0,10.0,10.0,10.0,10.0,10.0,10.0,15.0,20.0,20.0,15.0,15.0,15.0,5.0,8.0,9.0,8.0,5.0,7.0,0.16,3.0,7.0,5.0,1
3,female,21.0,23.0,4.0,30.0,5.0,15.0,40.0,5.0,5.0,7.0,8.0,9.0,8.0,9.0,8.0,15.0,20.0,20.0,15.0,15.0,15.0,7.0,6.0,8.0,7.0,6.0,8.0,0.61,3.0,7.0,6.0,1
4,female,21.0,24.0,4.0,30.0,10.0,20.0,10.0,10.0,20.0,8.0,7.0,9.0,6.0,9.0,7.0,15.0,20.0,20.0,15.0,15.0,15.0,5.0,6.0,7.0,7.0,6.0,6.0,0.21,3.0,6.0,6.0,1

In [10]:
mydata[['eval_by_partner_ambitous']].max()

eval_by_partner_ambitous    10.0
dtype: float64

▶ 결혼정보업체 데이터셋

- **gender**: 성별(female, male)

- **age**: 나이 (my age)

- **age_partner**: 상대방 나이  (partner's age)

- **importance_same_religion**: 종교를 중요시 여기는 지에 대한 응답 (1-10)

---

> - **pref_of_partner_attractive**: 매력(attractive)에 대하여 상대방이 얼마나 중요하게 생각하는지의 여부

> - **pref_of_partner_sincere**: 진정성/성실성(sincere)에 대하여 상대방이 얼마나 중요하게 생각하는지의 여부

> - **pref_of_partner_intelligence**: 똑똑함(intelligence)에 대하여 상대방이 얼마나 중요하게 생각하는지의 여부

> - **pref_of_partner_funny**: 유머감각(funny)에 대하여 상대방이 얼마나 중요하게 생각하는지의 여부

> - **pref_of_partner_ambitious**: 포부/야망/꿈(ambitious)에 대하여 상대방이 얼마나 중요하게 생각하는지의 여부

> - **pref_of_partner_shared_interests**: 공통의 관심사(shared interests)에 대하여 상대방이 얼마나 중요하게 생각하는지의 여부


- **eval_by_partner_attractive**: 상대방이 나의 매력(attractive)에 대하여 평가한 값

- **eval_by_partner_sincere**: 상대방이 나의 진정성/성실성(sincere)에 대하여 평가한 값

- **eval_by_partner_intelligence**: 상대방이 나의 똑똑함(intelligence)에 대하여 평가한 값

- **eval_by_partner_funny**: 상대방이 나의 유머감각(funny)에 대하여 평가한 값

- **eval_by_partner_ambitious**: 상대방이 나의 포부/야망/꿈(ambitious)에 대하여 평가한 값

- **eval_by_partner_shared_interests**: 상대방이 나와 얼마만큼의 공통 관심사(shared interests)가 있는지를 평가한 값

---

> - **my_pref_attractive**: 매력(attractive)에 대하여 내가 얼마나 중요하게 생각하는지의 여부

> - **my_pref_sincere**: 진정성/성실성(sincere)에 대하여 내가 얼마나 중요하게 생각하는지의 여부

> - **my_pref_intelligence**: 똑똑함(intelligence)에 대하여 내가 얼마나 중요하게 생각하는지의 여부

> - **my_pref_funny**: 유머감각에 대하여 내가 얼마나 중요하게 생각하는지의 여부

> - **my_pref_ambitious**: 포부/야망/꿈(ambitious)에 대하여 내가 얼마나 중요하게 생각하는지의 여부

> - **my_pref_shared_interests**: 공통 관심사에 대하여 내가 얼마나 중요하게 생각하는지의 여부


- **my_eval_attractive**: 내가 상대방의 매력에 대하여 평가한 값

- **my_eval_sincere**: 내가 상대방의 진정성/성실성에 대하여 평가한 값

- **my_eval_intelligence**: 내가 상대방의 똑똑함(intelligence)에 대하여 평가한 값

- **my_eval_funny**: 내가 상대방의 유머감각에 대하여 평가한 값

- **my_eval_ambitious**: 내가 상대방의 포부/야망/꿈(ambitious)에 대하여 평가한 값

- **my_eval_shared_interests**: 내가 상대방과의 얼마만큼의 공통 관심사가 있는지를 평가한 값

---

- **interests_correlate**: 서로간의 공통 관심사 연관도

- **expected_happy_with_couple_match**: 커플 매칭을 통해 만난 사람과 함께할 때 얼마나 좋을지에 대한 기대치

- **how_much_i_liked**: 내가 상대방이 얼마나 마음에 들었는지의 여부(값)

- **guess_prob_liked**: 상대방이 나를 얼마나 마음에 들어하였을지의 여부(예상값)

- **married**: 만남 이후 결혼 성사 여부

## 데이터셋 확인
▶ 전반적인 데이터셋 정보 확인 (**.info()**) <br>
> 데이터셋의 **컬럼정보와 값의 수, 각 컬럼별 데이터타입, 행의 갯수 등**의 정보 <br>

In [4]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8362 entries, 0 to 8361
Data columns (total 33 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   gender                            8362 non-null   object
 1   age                               8290 non-null   float64
 2   age_partner                       8260 non-null   float64
 3   importance_same_religion          8300 non-null   float64
 4   pref_of_partner_attractive        8279 non-null   float64
 5   pref_of_partner_sincere           8279 non-null   float64
 6   pref_of_partner_intelligence      8279 non-null   float64
 7   pref_of_partner_funny             8271 non-null   float64
 8   pref_of_partner_ambitious         8264 non-null   float64
 9   pref_of_partner_shared_interests  8242 non-null   float64
 10  eval_by_partner_attractive        8158 non-null   float64
 11  eval_by_partner_sincere           8093 non-null   float64
 12  eval_by_partner_intelligence      8071 non-null   float64
 13  eval_by_partner_funny             8023 non-null   float64
 14  eval_by_partner_ambitous          7681 non-null   float64
 15  eval_by_partner_shared_interests  7373 non-null   float64
 16  my_pref_attractive                8300 non-null   float64
 17  my_pref_sincere                   8300 non-null   float64
 18  my_pref_intellicence              8300 non-null   float64
 19  my_pref_funny                     8290 non-null   float64
 20  my_pref_ambtition                 8280 non-null   float64
 21  my_pref_shared_interests          8258 non-null   float64
 22  my_eval_attractive                8164 non-null   float64
 23  my_eval_sincere                   8091 non-null   float64
 24  my_eval_intelligence              8076 non-null   float64
 25  my_eval_funny                     8022 non-null   float64
 26  my_eval_ambition                  7679 non-null   float64
 27  my_eval_shared_interests          7392 non-null   float64
 28  interests_correlate               8227 non-null   float64
 29  expected_happy_with_couple_match  8300 non-null   float64
 30  how_much_i_liked                  8134 non-null   float64
 31  guess_prob_liked                  8082 non-null   float64
 32  married                           8362 non-null   int64
dtypes: float64(31), int64(1), object(1)
memory usage: 2.1+ MB

In [5]:
mydata.shape

(8362, 33)

In [6]:
mydata.dtypes

gender                               object
age                                 float64
age_partner                         float64
importance_same_religion            float64
pref_of_partner_attractive          float64
pref_of_partner_sincere             float64
pref_of_partner_intelligence        float64
pref_of_partner_funny               float64
pref_of_partner_ambitious           float64
pref_of_partner_shared_interests    float64
eval_by_partner_attractive          float64
eval_by_partner_sincere             float64
eval_by_partner_intelligence        float64
eval_by_partner_funny               float64
eval_by_partner_ambitous            float64
eval_by_partner_shared_interests    float64
my_pref_attractive                  float64
my_pref_sincere                     float64
my_pref_intellicence                float64
my_pref_funny                       float64
my_pref_ambtition                   float64
my_pref_shared_interests            float64
my_eval_attractive                  float64
my_eval_sincere                     float64
my_eval_intelligence                float64
my_eval_funny                       float64
my_eval_ambition                    float64
my_eval_shared_interests            float64
interests_correlate                 float64
expected_happy_with_couple_match    float64
how_much_i_liked                    float64
guess_prob_liked                    float64
married                               int64
dtype: object

In [7]:
# 데이터의 통계량 확인하기

mydata.describe()

,age,age_partner,importance_same_religion,pref_of_partner_attractive,pref_of_partner_sincere,pref_of_partner_intelligence,pref_of_partner_funny,pref_of_partner_ambitious,pref_of_partner_shared_interests,eval_by_partner_attractive,eval_by_partner_sincere,eval_by_partner_intelligence,eval_by_partner_funny,eval_by_partner_ambitous,eval_by_partner_shared_interests,my_pref_attractive,my_pref_sincere,my_pref_intellicence,my_pref_funny,my_pref_ambtition,my_pref_shared_interests,my_eval_attractive,my_eval_sincere,my_eval_intelligence,my_eval_funny,my_eval_ambition,my_eval_shared_interests,interests_correlate,expected_happy_with_couple_match,how_much_i_liked,guess_prob_liked,married
count,8290.000000,8260.000000,8300.000000,8279.000000,8279.000000,8279.000000,8271.000000,8264.000000,8242.000000,8158.000000,8093.000000,8071.000000,8023.000000,7681.000000,7373.000000,8300.000000,8300.000000,8300.000000,8290.000000,8280.000000,8258.000000,8164.000000,8091.000000,8076.000000,8022.00000,7679.000000,7392.000000,8227.000000,8300.000000,8134.000000,8082.000000,8362.000000
mean,26.353317,26.366465,3.651807,22.485437,17.389133,20.265047,17.456950,10.701687,11.848711,6.188514,7.171877,7.365382,6.398729,6.772621,5.478164,22.514014,17.396388,20.265005,17.457035,10.682824,11.846046,6.193459,7.176060,7.367694,6.40258,6.776924,5.478964,0.196341,5.527590,6.137964,5.209292,0.180938
std,3.569048,3.565445,2.805107,12.573222,7.042580,6.782060,6.083292,6.130780,6.359145,1.950795,1.741086,1.552728,1.953475,1.793149,2.146540,12.587041,7.046276,6.782820,6.084872,6.124573,6.362337,1.948888,1.740983,1.551665,1.95357,1.793264,2.147216,0.303479,1.736625,1.839333,2.129086,0.384989
min,18.000000,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,-0.830000,1.000000,0.000000,0.000000,0.000000
25%,24.000000,24.000000,1.000000,15.000000,15.000000,17.390000,15.000000,5.000000,9.520000,5.000000,6.000000,6.000000,5.000000,6.000000,4.000000,15.000000,15.000000,17.390000,15.000000,5.000000,9.520000,5.000000,6.000000,6.000000,5.00000,6.000000,4.000000,-0.015000,5.000000,5.000000,4.000000,0.000000
50%,26.000000,26.000000,3.000000,20.000000,18.180000,20.000000,18.000000,10.000000,10.640000,6.000000,7.000000,7.000000,7.000000,7.000000,6.000000,20.000000,18.180000,20.000000,18.000000,10.000000,10.640000,6.000000,7.000000,7.000000,7.00000,7.000000,6.000000,0.210000,6.000000,6.000000,5.000000,0.000000
75%,28.000000,28.000000,6.000000,25.000000,20.000000,23.810000,20.000000,15.000000,16.000000,8.000000,8.000000,8.000000,8.000000,8.000000,7.000000,25.000000,20.000000,23.810000,20.000000,15.000000,16.000000,8.000000,8.000000,8.000000,8.00000,8.000000,7.000000,0.430000,7.000000,7.000000,7.000000,0.000000
max,55.000000,55.000000,10.000000,100.000000,60.000000,50.000000,50.000000,53.000000,30.000000,10.500000,10.000000,10.000000,11.000000,10.000000,10.000000,100.000000,60.000000,50.000000,50.000000,53.000000,30.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,0.910000,10.000000,10.000000,10.000000,1.000000

In [12]:
 mydata.isna().sum()/mydata.shape[0]

gender                              0.000000
age                                 0.008610
age_partner                         0.012198
importance_same_religion            0.007414
pref_of_partner_attractive          0.009926
pref_of_partner_sincere             0.009926
pref_of_partner_intelligence        0.009926
pref_of_partner_funny               0.010883
pref_of_partner_ambitious           0.011720
pref_of_partner_shared_interests    0.014351
eval_by_partner_attractive          0.024396
eval_by_partner_sincere             0.032169
eval_by_partner_intelligence        0.034800
eval_by_partner_funny               0.040541
eval_by_partner_ambitous            0.081440
eval_by_partner_shared_interests    0.118273
my_pref_attractive                  0.007414
my_pref_sincere                     0.007414
my_pref_intellicence                0.007414
my_pref_funny                       0.008610
my_pref_ambtition                   0.009806
my_pref_shared_interests            0.012437
my_eval_attractive                  0.023679
my_eval_sincere                     0.032409
my_eval_intelligence                0.034202
my_eval_funny                       0.040660
my_eval_ambition                    0.081679
my_eval_shared_interests            0.116001
interests_correlate                 0.016144
expected_happy_with_couple_match    0.007414
how_much_i_liked                    0.027266
guess_prob_liked                    0.033485
married                             0.000000
dtype: float64

In [14]:
mydata[['eval_by_partner_shared_interests']].max()

eval_by_partner_shared_interests    10.0
dtype: float64